.modalContent {
    position: relative;
    border: none;
    outline: none;
    z-index: 1000;
}

.modalOverlay {
    @apply flex w-full h-full border-none justify-center items-center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}